section#about.sec-about
	h1.sec-about__title ABOUT
	.sec-about__contents
		.sec-about__img
			//- img(src="img/weare.jpg", alt="#{_author}", width="200")
			img(src="http://placehold.it/320x180/2070aa/ffffff", alt="#{_author}", width="")
		.sec-about__description
			p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		.sec-about__data
			table
				tr
					td Name
					td #{_siteName} 
				tr
					td Author
					td #{_author}
				tr
					td Place
					td Japan, Tokyo, Shibuya Ward,