// TODO: jade can not describe in multiple lines 2015.09.27

// Base Data
- var baseData = {};

- var siteContents = ['news', 'event', 'works', 'about', 'contact']

// Base Info
- var _siteName = 'SiteName';
- var _author = "AuthorName";
- var _url = 'http://mysite.com';
- var _description = 'This is description.';